body {
    background-color: #279c88;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading {
    color: #f1b24a;
}

#heading, 
#title {
    color: #f1b24a;
}

.pic {
    align-items: center;
}

#heading {
    text-align: center;
}

.descrip, 
.ingred,
.steps {
    background-color: #4d774e;
}

.one, .two, .list {
    color: #FFFFFF
}

#title {
    color: #f1b24a;
}